# Algorithm Workbench Questions

In [1]:
def times_ten(4)

SyntaxError: invalid syntax (3110289835.py, line 1)

In [2]:
def times_ten(number) :
    product = number * 10
        print(product)

IndentationError: unexpected indent (650648805.py, line 3)

In [3]:
def times_ten(number) :
    product = number * 10
    print(product)

In [4]:
print('Number 1')

Number 1

In [5]:
def times_ten('number') :
    product = number * 10
    print(product)

SyntaxError: invalid syntax (531979175.py, line 1)

In [6]:
def times_ten(number) :
    product = number * 10
    print('product')

In [7]:
def times_ten(4) :
    product = number * 10
    print(product)

SyntaxError: invalid syntax (4055000024.py, line 1)

In [8]:
def times_ten(number):
    product = number * 10
    print(product)

In [9]:
def times_ten(4):
    product = 4 * 10
    print(product)

SyntaxError: invalid syntax (4254880677.py, line 1)

In [10]:
def times_ten(number):
product = number * 10
print(product)

IndentationError: expected an indented block after function definition on line 1 (2676104018.py, line 2)

In [11]:
def times_ten(number):
    product = number * 10
print(product)

NameError: name 'product' is not defined

In [13]:
def times_ten(number):
    product = number * 10
 print(product)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [14]:
def times_ten(number):
    product = number * 10
    print(product)

In [15]:
def times_ten(number):
    product = number * 10
        print(product)

IndentationError: unexpected indent (1351173851.py, line 3)

In [16]:
def times_ten(number):
    product=number * 10
print(product)

NameError: name 'product' is not defined

In [17]:
def times_ten(number):
    product=number* 10
print(product)

NameError: name 'product' is not defined

In [18]:
def times_ten(number):
    product=number*10
print(product)

NameError: name 'product' is not defined

In [19]:
def times_ten(number):
    product=number * 10
print('product')

product

In [20]:
def times_ten(number):
    product= number * 10
print(product)

NameError: name 'product' is not defined

In [21]:
def times_ten(number):
 product = number * 10
print(product)

NameError: name 'product' is not defined

In [22]:
def times_ten(number):
    result = number * 10
print(result)

NameError: name 'result' is not defined

In [23]:
print(' im pretty sure im defining the result but i dont know why its not defining')

 im pretty sure im defining the result but i dont know why its not defining

In [24]:
print('Question 2')

Question 2

In [25]:
def show_value(quantity)
    show_value(12)

SyntaxError: expected ':' (2994692959.py, line 1)

In [28]:
def show_value(quantity):
    show_value(12)

# Programming Practice

## Question 1

In [35]:
def main():

    kilometers = input('Enter the distance in kilometers: ')
    kilo(kilometers)
        
def kilo(kilometers):
        miles = kilometers * 0.6214
    
    print ('That converts to ', miles, 'miles.')
    
main()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 9)

In [31]:
def main():

    kilometers = input('Enter the distance in kilometers: ')
    kilo(kilometers)
        
def kilo(kilometers):
        miles = kilometers * 0.6214
    
main()

Enter the distance in kilometers: 42

TypeError: can't multiply sequence by non-int of type 'float'

In [32]:
print('wat')

wat

In [36]:
print('The program is right, but i think what happened was that i inputed the value the wrong way haha.')

The program is right, but i think what happened was that i inputed the value the wrong way haha.

## Question 17

In [38]:
a=int(input("Enter a number: "))
i=2
p=[]
while i<=a-1:
    p.append(a%i)
    i=i+1
if 0 not in list(p):
    print(a, "is a prime")
else:
    print(a, "is not a prime")

Enter a number: 5
5 is a prime

In [39]:
a=int(input("Enter a number: "))
i=2
p=[]
while i<=a-1:
    p.append(a%i)
    i=i+1
if 0 not in list(p):
    print(a, "is a prime")
else:
    print(a, "is not a prime")

Enter a number: 18
18 is not a prime

In [40]:
print('as you can see, the program defines whether or not the number is prime')

as you can see, the program defines whether or not the number is prime

## Question 18

In [42]:
def is_prime(number):
    
    for test in range(2,number):
        if ( (number % test) == 0):
           
            return False
    
    return True

def main():

    for value in range(1, 101):

        if ( is_prime(value) ):
            print (value, ' is prime')

main()

1  is prime
2  is prime
3  is prime
5  is prime
7  is prime
11  is prime
13  is prime
17  is prime
19  is prime
23  is prime
29  is prime
31  is prime
37  is prime
41  is prime
43  is prime
47  is prime
53  is prime
59  is prime
61  is prime
67  is prime
71  is prime
73  is prime
79  is prime
83  is prime
89  is prime
97  is prime

In [43]:
print('So i created the testing loop, then I made sure that the program detected prime and composite numbers in a sense, then i set the range of values from 1 to 100. Finally I created a loop that calls the is prime function and then called the main function ')

So i created the testing loop, then I made sure that the program detected prime and composite numbers in a sense, then i set the range of values from 1 to 100. Finally I created a loop that calls the is prime function and then called the main function

## Question 12

In [44]:
def max(firstNumber, secondNumber ):
    if firstNumber > secondNumber:
        return firstNumber
    return secondNumber

firstNumber=int(input("Input the first number: "))
secondNumber=int(input("Input the second number: "))

maxValue=max(firstNumber,secondNumber)

print(f"The maximum value is {maxValue}")

Input the first number: 4
Input the second number: 8
The maximum value is 8

In [47]:
#Question 12 asks us to create a function named max that accepts two integer values as arguments